<div class="container">
  <h2 class="mb-4">Beneficiaires</h2>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Date Debut</th>
        <th scope="col">Date Fin</th>
        <th scope="col">Num Carte</th>
        <th scope="col">Code</th>
        <th scope="col">Port</th>
        <th scope="col">Immat</th>
        <th scope="col">Transactions</th>
        <th scope="col">Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let beneficiaire of beneficiaires">
        <td>{{ beneficiaire.idb }}</td>
        <td>{{ beneficiaire.nom }}</td>
        <td>{{ beneficiaire.prenom }}</td>
        <td>{{ beneficiaire.date_deb }}</td>
        <td>{{ beneficiaire.date_fin }}</td>
        <td>{{ beneficiaire.num_carte }}</td>
        <td>{{ getFonctionsName(beneficiaire.code).lib }}</td>
        <td> {{ getPortName(beneficiaire.port_id).lib }}</td>
        <td>{{ beneficiaire.immat }}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="doTransaction(beneficiaire)">Faire Transactions</button>
          <button class="btn btn-sm btn-success" (click)="showTransactions(beneficiaire)">Voir Transactions</button>
        </td>

        <td>
          <button class="btn btn-sm btn-primary" (click)="edit(beneficiaire)">Modifier</button>
          <button class="btn btn-sm btn-danger" (click)="delete(beneficiaire.idb)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" (click)="add()">Ajouter</button>

  <div *ngIf="isEditing" class="edit-form">
    <h3>{{ currentBeneficiaire.idb ? 'Edit Beneficiaire' : 'Add Beneficiaire' }}</h3>
    <form (ngSubmit)="save()">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" id="nom" class="form-control" [(ngModel)]="currentBeneficiaire.nom" name="nom" required>
      </div>
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" class="form-control" [(ngModel)]="currentBeneficiaire.prenom" name="prenom"
          required>
      </div>
      <div class="form-group">
        <label for="num_carte">Num Carte</label>
        <select class="form-select" aria-label="Select a carte" name="num_carte" [(ngModel)]="currentBeneficiaire.num_carte">
          <option *ngFor="let carte of filterCardsWithNoBeneficiary(beneficiaires,cartes)" [value]="carte.num_carte">
            {{ carte.num_carte }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="code">Fonction</label>
        <select class="form-select" aria-label="Fonction" name="code" [(ngModel)]="currentBeneficiaire.code">
          <option *ngFor="let fonction of fonctions" [value]="fonction.code">
            {{ fonction.lib }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="immat">Vehicle Immat</label>
        <select class="form-select" aria-label="Select a vehicle" name="immat" [(ngModel)]="currentBeneficiaire.immat">
          <option *ngFor="let voiture of voitures" [value]="voiture.immat">
            {{ voiture.immat }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="code">Port</label>
        <select class="form-select" aria-label="Select a port" name="port_id" [(ngModel)]="currentBeneficiaire.port_id">
          <option *ngFor="let port of ports" [value]="port.id">
            {{ port.lib }}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>