<div *ngIf="!authService.isLoggedIn()">  
  <div class="login-wrapper">
    <div class="login-box">
      <img src="../../assets/Logo-ommp.png" alt="Login Image" class="login-image">
      <div class="login-content">
        <h2 class="login-title text-center-custom mb-4">Login</h2>
        <form (ngSubmit)="onSubmit()" class="login-form">
          <div class="form-input">
            <input type="text" class="input-field" placeholder="Username" [(ngModel)]="username" name="username" required>
          </div>
          <div class="form-input">
            <input type="password" class="input-field" placeholder="Password" [(ngModel)]="password" name="password" required>
          </div>
          <button type="submit" class="submit-button btn-block">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
