.dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* make the container take up the full height of the page */
  }
  
  app-sidebar {
    width: 250px; /* adjust the width of the sidebar to your liking */
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .main-content {
    flex: 1; /* make the main content take up the remaining space */
    padding: 20px;
  }